
:root 
{
  --neo-black: #000000;
  --neo-purple: #e624af;
  --neo-blue: #5433be;
  --neo-lightblue: #3df9ea;
  --neo-cream: #effafa;
}

html {
  background-color: var(--neo-black);
  color: var(--neo-cream);
  font-family: 'Courier New', Courier, monospace;
  padding: 2rem;
  border: 5px solid var(--neo-purple);
}

.engine-title {
  color: var(--neo-cream);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.json-log {
  color: var(--neo-magenta);
  background: rgba(93, 39, 93, 0.2); /* Un tocco di viola scuro trasparente */
  padding: 10px;
  border-radius: 4px;
}

.ediButton
{
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--neo-blue);
  color: var(--neo-cream);
}

.errorText
{
  color: var(--neo-purple);
}

.specialText
{
  color: var(--neo-lightblue);
}